body {
  padding: 0;
  margin: 0;
}
.parent-container {
  background-color: #262424;
  height: 100vh;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
header {
  height: auto;
  background-color: #262424;
  display: flex;
}
header h1 {
  padding: 5px;
  margin-left: 13px;
}
.nav-bar {
  margin-left: 55vw;
}
.nav-bar ul {
  display: flex;
  list-style: none;
}
.nav-bar li {
  padding-left: 55px;
  padding-top: 18px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}
main {
  display: grid;
  margin-top: 40px;
  margin-left: 20px;
  align-items: center;
  padding-bottom: 10px;
}

.para-01 {
  background-color: rgba(97, 94, 94, 0.3);
  font-size: 18px;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1/3;
  padding: 15px;
  margin: 5px;
  width: 50vw;
  height: auto;
  border-radius: 20px;
}
main button {
  margin-left: 18vw;
  height: 30px;
  border: 0px;
  border-radius: 10px;
  background-color: #02080c;
  margin-top: 20px;
  display: block;
  grid-row: 3/4;
  grid-column: 1/3;
  width: 100px;
}
main button a {
  color: aliceblue;
  text-decoration: none;
}
main img {
  grid-column: 3/5;
  width: 200px;
  border-top-left-radius: 350px;
  border-top-right-radius: 350px;
  border-bottom-left-radius: 350px;
  border-bottom-right-radius: 350px;
  border: 2px solid white;
  height: 200px;
  margin: 0px;
}
